.env.local
node_modules
tsconfig.tsbuildinfo
supabase/.temp/project-ref
.DS_Store

# next.js
/.next
/out

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tsbuildinfo

# pycache
__pycache__

.mypy_cache

.vscode

data/prod
